.header {
  height: 18vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* background-color: white; */
}

.link {
  word-spacing: -3px;
  color: black;
  padding: 10px;
  margin: 20px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  border-bottom: none;
  transition: border-bottom 1s ease;
}

.link:hover {
  color: rgb(172, 61, 61);
}

.act-link {
  word-spacing: -3px;
  color: rgb(172, 61, 61);
  border-bottom: solid 2.2px rgb(172, 61, 61);
  padding: 10px;
  margin: 20px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
}