

.header {
  position: absolute;
  /* height: 18vh; */
  height: max-content;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: none;
  z-index: 20;
  width: 100vw;
  /* padding: 2rem 0; */
}

.link {
  word-spacing: -3px;
  color: white;
  padding: 10px;
  margin: 20px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  border-bottom: none;
  transition: border-bottom 1s ease;
}

.link:hover {
  /* color: rgb(172, 61, 61); */
  border-bottom: 2px solid white;
}

.act-link {
  border-bottom: 2px solid #af8888;
  word-spacing: -3px;
  color: #af8888;
  padding: 10px;
  margin: 20px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
}



/* Hide mobile icon on desktop */
.menu-icon {
  display: none;
  font-size: 40px;
  color: white;
  cursor: pointer;
}


.nav-links {
  display: flex;
}

/* Mobile styles */


@media (max-width: 768px) {

  .header {
    justify-content: space-between;
    padding: 10px 20px;
  }

  .logo-img {
    width: 130px !important;
    height: auto !important;
  }


  .nav-links {
    display: none;
  }


  .menu-icon {
    display: block;
  }


  .mobile-menu {
    position: absolute;
    top: 18vh;
    left: 0;
    width: 100%;
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    gap: 20px;
  }
}
