@keyframes heroReveal {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}




.home-page {
  max-width: fit-content;
  margin-inline: auto;
  max-width: 2000px;
  color: var(--brand-espresso);
}

a {
  text-decoration: none;
}


/* HERO */
.home-hero {
  min-height: 100svh;
  height: 100vh;
  position: relative;
}


.hero-video {
  object-fit: cover;
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}


.hero-title {
  color: var(--text-light);
  position: relative;
  z-index: 10;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hero-title h1 {
  /* font-size: clamp(4rem, 8vw, 100px); */
  font-size: var(--font-size-lg);
  margin: 10px;
  font-family: var(--poiret);
  opacity: 0;
  transform: translateY(30px);
  animation: heroReveal 1s forwards;
}


.hero-title h1:nth-child(1) {
  animation-delay: 0.3s;
}

.hero-title h1:nth-child(2) {
  animation-delay: 0.6s;
}

.hero-title h1:nth-child(3) {
  animation-delay: 0.9s;
}


.hero-title h1:nth-of-type(2) {
  font-size: clamp(6rem, 20vw, 300px);
  font-weight: lighter;
  position: absolute;
  z-index: -1;
  color: var(--brand-rose);
  font-family: var(--sacramento);
}



.home-btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 100;
  gap: 30px;
  bottom: 10%;
}


.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 28px;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  transition: transform .25s cubic-bezier(.22, 1, .36, 1),
    background .25s ease,
    color .25s ease;
}


.btn.primary {
  background: transparent;
  border: 1px solid var(--text-light);
  color: var(--text-light);
}

.btn.secondary {
  background-color: transparent;
  border: 1px solid var(--brand-espresso);
  color: var(--brand-espresso);
}

.btn:hover {
  background: #954747;
  border: 1px solid var(--text-light);
  color: var(--text-light);
  opacity: 0.9;
  transform: translateY(-4px);
}



/* REVEAL */

.reveal {
  opacity: 0;
  transform: translateY(60px);
  transition: opacity 0.8s cubic-bezier(0.22, 1, 0.36, 1),
    transform 0.8s cubic-bezier(0.22, 1, 0.36, 1);
  will-change: opacity, transform;
}

.reveal.visible {
  opacity: 1;
  transform: translateY(0);
}





/* ABOUT */



.about-section {
  padding: 120px 8%;
  /* background-color: #000; */
  background-color: #312e2e;
}


.about-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
  align-items: center;
}


.about-images {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-main {
  width: 420px;
  height: 520px;
  object-fit: cover;
  border-radius: 14px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
}

.img-small {
  position: absolute;
  width: 260px;
  height: 300px;
  object-fit: cover;
  border-radius: 12px;
  left: -80px;
  bottom: -60px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
}


.about-label {
  font-size: 14px;
  letter-spacing: 3px;
  /* color: #888; */
  color: rgb(214, 214, 214);
}

.about-content h2 {
  font-family: var(--poiret);
  font-size: var(--font-size-sm);
  line-height: 1.1;
  margin: 20px 0;
  color: white;
}

.about-content h2 span {
  font-family: var(--poiret);
  color: #b36b5e;
  color: var(--brand-rose);
}


/* line animation */

.divider {
  width: 10%;
  height: 2px;
  background: #b36b5e;
  margin: 25px 0;
}

.divider.visible {
  width: 50%;
  transition: width 1.5s;
}


.about-content p {
  font-size: 18px;
  line-height: 1.7;
  /* color: #555; */
  color: white;
  max-width: 500px;
  margin-bottom: 50px;
}



.about-btn {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 14px 28px;
  border: 2px solid var(--brand-rose);
  /* border-radius:40px; */
  font-size: 15px;
  letter-spacing: 1px;
  text-decoration: none;
  color: white;
  transition: all 0.3s ease;
}

.about-btn:hover {
  background: var(--brand-rose);
  color: white;
}


/* HOVER IMAGE EFFECT */

.about-images img {
  transition: transform 0.8s ease;
}

.about-images:hover img {
  transform: scale(1.03);
}











/* Featured  */


.feature-section {
  padding: 120px 8%;
}

.feature-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
  align-items: center;
}


.feature-section.reverse .feature-container {
  direction: rtl;
}

.feature-section.reverse .feature-content {
  direction: ltr;
}


.feature-label {
  font-size: 14px;
  letter-spacing: 3px;
  color: #888;
}

.feature-content h2 {
  font-family: var(--poiret);
  font-size: var(--font-size-sm);
  line-height: 1.1;
  margin: 20px 0;
}

.feature-content h2 span {
  font-family: var(--poiret);
  color: var(--brand-rose);
}

.feature-content p {
  font-size: 18px;
  line-height: 1.7;
  color: #555;
  max-width: 500px;
  margin-bottom: 50px;
}


.feature-btn {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 14px 28px;
  border: 2px solid var(--brand-rose);
  /* border-radius:40px; */
  font-size: 15px;
  letter-spacing: 1px;
  /* color: var(--brand-rose); */
  transition: all 0.3s ease;
}

.feature-btn:hover {
  background: var(--brand-rose);
  color: white;
}




.feature-image img {
  width: 100%;
  height: 520px;
  object-fit: cover;
  border-radius: 14px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
}


.infoButton {
  padding-bottom: 3rem;
  background-color: var(--surface-light);
  width: 100%;
  display: flex;
  justify-content: center;
}

.infoButton button {
  display: flex;
  align-items: center;
  justify-content: center;
}












/* Mobile Responsive */


@media (max-width: 768px) {

  .about-section,
  .feature-section {
    padding: 70px 8%;
  }

  .about-container {
    grid-template-columns: 1fr;
    gap: 50px;
  }

  .img-small {
    display: none;
  }

  .img-main {
    width: 100%;
    height: 420px;
  }

  .about-content p {
    font-size: small;
  }

  .feature-container {
    grid-template-columns: 1fr;
    /* text-align: center; */
  }

  .feature-image img {
    height: 420px;
  }

  .feature-content p {
    font-size: small;
  }

}





.home-hero::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to bottom,
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.2));
}