html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Andale Mono, monospace;
    /* font-family: 'Inter', Helvetica, Arial, Lucida, sans-serif; */
}

body{
  background-color: #f7efe7;
  /* background-color: white; */
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
  /* background: rgb(233, 233, 233);  */
}

/* Handle */
::-webkit-scrollbar-thumb {
  /* background: #984f4f;  */
  background: #af8888; 
  /* border-radius: 2px; */

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  /* background: #af8888;  */
  background: #984f4f; 

}

/* .main-content {
  background-color: rgb(170, 116, 116);
} */





