*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main{
  height: 100vh;
  background-color: rgb(170, 116, 116);
}

.header{
  position: sticky;
  top: 0;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: space-around;  
}

.footer{
  background-color: rgb(119, 69, 69);
  height: 15vh;
}