html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Andale Mono, monospace;
  /* font-family: var(--poiret); */
  /* font-family: 'Inter', Helvetica, Arial, Lucida, sans-serif; */
}

body {
  background-color: #f7efe7;
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #af8888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #984f4f;
}



:root {

  /* =========================
     BRAND COLORS
  ========================== */

  --brand-cream: #f7efe7;
  --brand-espresso: #2f2a26;
  --brand-rose: #af8888;
  --brand-rose-dark: #954747;

  --font-light: #f7efe7;
  --font-dark: #2f2a26;

  /* Dark section background */
  --brand-dark: rgb(49, 46, 46);
  --brand-grey: #696666;

  /* =========================
     TEXT COLORS
  ========================== */

  --text-light: #ffffff;
  --text-dark: #000000;


  /* =========================
     SURFACE COLORS
  ========================== */

  --surface-light: var(--brand-cream);
  --surface-dark: var(--brand-dark);


  /* =========================
     BORDER RADIUS
  ========================== */

  --radius-sm: 12px;
  --radius-md: 16px;
  --radius-lg: 20px;


  /* =========================
     SHADOWS
  ========================== */

  --shadow-card: 0 20px 40px rgba(0, 0, 0, 0.15);


  /* =========================
     TRANSITIONS
  ========================== */

  --transition-smooth: all 0.5s ease;
  --transition-slow: all 1s ease;


  /* =========================
     LAYOUT
  ========================== */



  --section-padding-desktop: 10rem 2rem;
  --section-padding-tablet: 6rem 2rem;
  --section-padding-mobile: 5rem 0.5rem;
  --section-gap: 4rem;





  

  --container-max: 1400px;
  --container-padding: 2rem;

  /* ===== SECTION SPACING ===== */
  --section-y-desktop: 10rem;
  --section-y-tablet: 7rem;
  --section-y-mobile: 5rem;

  /* ===== GRID GAP ===== */
  --grid-gap-large: 4rem;
  --grid-gap-medium: 2.5rem;
  --grid-gap-small: 1.5rem;

  /* ===== IMAGE HEIGHTS ===== */
  --image-height-desktop: 500px;
  --image-height-mobile: 260px;

}