.admin-page {
  height: 100vh;
  margin-inline: auto;
  max-width: 2000px;
  background-color: var(--brand-espresso);
  color: white;
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.admin-feature {
  border-right: 1px solid rgba(245, 245, 245, 0.187);
  display: grid;
  grid-template-rows: 1fr 4fr;
}

.admin-brand {
  /* border-bottom: 1px solid grey; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.admin-controls {
  padding: 4rem 1rem 1rem 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.control-item {
  width: 100%;
  height: max-content;
  padding: 1rem;
  text-align: center;
  border: 1px solid grey;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
}


.control-item p {
  font-size: small;
}

.admin-content {
  display: grid;
  grid-template-rows: 1fr 5fr;
}

.admin-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid grey;
}

.admin-navbar h3 {
  padding: 10px;
}

.admin-navbar input {
  background: transparent;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.799);
  border-radius: 10px;
  width: 300px;
  height: 50px;
  padding: 10px;
}



.admin-data {
  /* border: 1px solid grey; */
  display: flex;
  /* align-items: center; */
  justify-content: center;
  padding: 1rem;
}



.admin-table {
  width: 100%;
  height: max-content;
  border-collapse: collapse;
  overflow-y: scroll;
}


.admin-table thead {
  padding: 2rem;
  border-bottom: 2px solid rgba(255, 255, 255, 0.27);
}

.admin-table th {
  color: var(--brand-rose);
  text-align: left;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  text-align: center;
  padding: 1.5rem 0;
}

.admin-table tr{
  border-bottom: 2px solid rgba(255, 255, 255, 0.27);
}

.admin-table td {
  text-align: center;
  padding: 1rem;
  font-size: 0.95rem;
}

.deleteImg{
  cursor: pointer;
}