.home-page {
  max-width: fit-content;
  margin-inline: auto;
  background: #f7efe7;
  max-width: 2000px;
  color: #2f2a26;
}


/* HERO */
.home-hero {
  height: 100vh;
}


.hero-video {
  object-fit: cover;
  position: absolute;
  inset: 0;
  height: 100%;
  max-width: 100%;
  width: 100%;
}


.hero-title {
  color: white;
  position: relative;
  z-index: 10;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hero-title h1 {
  font-size: 100;
  margin: 10px; 
  font-family: var(--poiret);
}

.hero-title h1:nth-of-type(2) {
  font-size: 300;
  font-weight: lighter;
  position: absolute;
  z-index: -1;
  /* color: #954747; */
  /* color: #984f4f;  */
  color: #af8888; 
  font-family: var(--sacramento);
} 

video {
  min-width: 700px;
  overflow: hidden;
  object-fit: cover;
}

/* REVEAL */

.landing-buttons{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 100;
  gap: 30px;
  bottom: 10%;
}

.btn {
  padding: 12px 28px;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  transition: 0.3s ease;
}


 .btn.primary {
   /* background: rgb(49, 46, 46);  */
  /* background: #3b2f2f; */
  background: transparent;
  border: 1px solid white;
  color: white;
} 

.btn.secondary {
  /* background: #af8888;  */
  background: rgb(87, 85, 85);
  /* border: 1px solid white; */
  color: white;
}

.btn:hover {
  /* background: #984f4f;  */
  background: #954747 ; 
  border: 1px solid white;
  color: white;
  transform: translateY(-2px);
  opacity: 0.9;
}

.reveal {
  opacity: 0;
  transform: translateY(60px);
  transition: all 1s ease;
}

.reveal.visible {
  opacity: 1;
  transform: translateY(0);
}





/* ABOUT */
.home-about {
  height: max-content;
  background-color: rgb(49, 46, 46);
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 6rem;
  padding: 5rem 2%;
  align-items: center;
}

.home-about-text h1 {
  font-family: var(--poiret);
  color: white;
  font-size: 100;
}

.home-about-text h1 span {
  color: #af8888;
  font-family: var(--poiret);
}

.home-about-text p {
  padding: 2rem 0;
  color: white;
  line-height: 1.8;
}

.home-link {
  color: white;
  margin-top: 1.5rem;
  display: inline-block;
  font-weight: 600;
}


.home-about-image img{
  border-radius: 5px;
}

.about-button {
  padding: 3rem 0;
}


.home-about-image {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.rotate-slow {
  width: 500px;
  height: auto;
  position: absolute;
  left: -10rem;
  bottom: -3rem;
  /* animation: spin 120s linear infinite; */
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}





/* MENU PREVIEW */
.home-menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding: 120px 8%;
}

.home-menu-card {
  position: relative;
  height: 360px;
  overflow: hidden;
  border-radius: 20px;
}

.home-menu-card img {
  object-fit: cover;
  transition: transform 1.2s ease;
}

.home-menu-card:hover img {
  transform: scale(1.08);
}

.home-menu-text {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  color: white;
}

.home-menu-text h4 {
  font-weight: lighter;
  font-family: var(--lavish);
  font-size: 3rem;
  text-shadow: 4px 4px 5px rgb(60, 59, 59);
}

.home-menu-text p {
  /* font-size: 1rem; */
  text-shadow: 4px 4px 5px rgb(60, 59, 59);
}



/* ATMOSPHERE */
.home-atmosphere {
  position: relative;
  height: 70vh;
  margin: 140px 0;
}

.atmosphere-img {
  object-fit: cover;
  filter: brightness(0.6);
}

.home-atmosphere p {
  font-family: var(--lavish);
  position: absolute;
  bottom: 15%;
  left: 10%;
  color: white;
  font-size: 3.5rem;
  line-height: 1.4;
}

/* VISIT */
.home-visit {
  text-align: center;
  padding: 140px 20%;
}

.home-visit h2 {
  font-family: var(--lavish);
}