.home-page {
  max-width: fit-content;
  margin-inline: auto;
  max-width: 2000px;
  color: #2f2a26;
}


/* HERO */
.home-hero {
  height: 100vh;
}


.hero-video {
  object-fit: cover;
  position: absolute;
  inset: 0;
  height: 100%;
  max-width: 100%;
  width: 100%;
}


.hero-title {
  color: white;
  position: relative;
  z-index: 10;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hero-title h1 {
  font-size: 100;
  margin: 10px; 
  font-family: var(--poiret);
}

.hero-title h1:nth-of-type(2) {
  font-size: 300;
  font-weight: lighter;
  position: absolute;
  z-index: -1;
  /* color: #954747; */
  /* color: #984f4f;  */
  color: #af8888; 
  font-family: var(--sacramento);
} 



.home-btn{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 100;
  gap: 30px;
  bottom: 10%;
}


.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 28px;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  transition: 0.3s ease;
}


.btn.primary {
  /* background: rgb(49, 46, 46);  */
  /* background: #3b2f2f; */
  background: transparent;
  border: 1px solid white;
  color: white;
} 

.btn.secondary {
  /* background: #af8888;  */
  background: rgb(87, 85, 85);
  /* border: 1px solid white; */
  color: white;
}

.btn:hover {
  /* background: #984f4f;  */
  background: #954747 ; 
  border: 1px solid white;
  color: white;
  transform: translateY(-2px);
  opacity: 0.9;
}



/* REVEAL */

.reveal {
  opacity: 0;
  transform: translateY(60px);
  transition: all 1s ease;
}

.reveal.visible {
  opacity: 1;
  transform: translateY(0);
}





/* ABOUT */
.home-about {
  height: max-content;
  background-color: rgb(49, 46, 46);
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 6rem;
  padding: 5rem 2%;
  align-items: center;
}

.home-about-text h1 {
  font-family: var(--poiret);
  color: white;
  font-size: 100;
}

.home-about-text h1 span {
  color: #af8888;
  font-family: var(--poiret);
}

.home-about-text p {
  padding: 2rem 0;
  color: white;
  line-height: 1.8;
}

.home-link {
  color: white;
  margin-top: 1.5rem;
  display: inline-block;
  font-weight: 600;
}


.home-about-image img{
  border-radius: 5px;
}

.about-button {
  padding: 3rem 0;
}

.about-button button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.about-button button span {
  padding: 5px 0 0 5px ;
}


.home-about-image {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.coffeeFront {
  width: 500px;
  height: auto;
  position: absolute;
  left: -10rem;
  bottom: -3rem;
}


.coffeeContainer{
  /* background-color: #af8888; */
  height: 100vh;
  background-color: rgb(105, 102, 102);
  height: max-content;
  padding: 5rem 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.coffeeImg{
  height: 500px;
  position: relative;
}

.coffeeImg img {
  border-radius: 5px;
  object-fit: cover;
  transition: transform 1.5s ease;
}

.coffeeDetails {
  padding: 2rem;
}


.coffeeDetails h1 {
  font-family: var(--poiret);
  /* color: rgb(49, 46, 46); */
  color: white;
  font-size: 100; 
}

.coffeeDetails h1 span {
  /* color: #af8888; */
  color: rgb(49, 46, 46);
  font-family: var(--poiret);
}


.coffeeDetails p {
  padding: 2rem 0;
  color: white;
  line-height: 1.8;
}
