.story-page {
  max-width: fit-content;
  margin-inline: auto;
  max-width: 2000px;
  background-color: var(--surface-light);
  color: var(--brand-espresso);
}


/* HERO */
.story-hero {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.story-hero-img {
  object-fit: cover;
  filter: brightness(0.7);
}

.story-text {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--text-light);
  text-align: center;
}

.story-text h1 {
  font-family: var(--poiret);
  /* font-size: clamp(4rem, 8vw, 100px); */
  font-size: var(--font-size-lg);
  letter-spacing: 0.15rem;
}

.story-text p {
  /* font-family: var(--poiret); */
  font-size: 1.2rem;
  margin-top: 1rem;
  padding: 2rem 0;
  line-height: 1.8;
}





/* STORY SECTIONS */


.story-section {
  height: max-content;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--section-gap);
  padding: var(--section-padding-desktop);
  opacity: 0;
  transform: translateY(60px);
  transition: all 0.5s ease;
  will-change: opacity, transform;
}

.story-section.visible {
  opacity: 1;
  transform: translateY(0);
}

.story-section.reverse {
  direction: rtl;
}

.story-section.reverse .story-content {
  direction: ltr;
}

.story-image {
  position: relative;
  overflow: hidden;
  border-radius: var(--radius-md);
}

.story-image img {
  height: var(--image-height-desktop);
  object-fit: cover;
  transition: transform 0.5s ease;
  transform: scale(1.1);
}

.story-section.visible .story-image img {
  transform: scale(1);
}



/* TEXT */
.story-content {
  padding: 2rem;
}

.story-content h2 {
  font-size: var(--font-size-md);
  font-family: var(--poiret);
  color: var(--brand-espresso);
}

.story-content h2 span {
  font-family: var(--poiret);
  color: var(--brand-rose);
}

.story-content p {
  padding: 2rem 0;
  color: var(--brand-espresso);
  line-height: 1.8;
}





.story-hero::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to bottom,
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.2));
}










@media (max-width: 768px) {

  /* HERO */
  .story-hero {
    height: 100vh;
  }

  .story-text h1 {
    letter-spacing: 0.08rem;
  }

  .story-text p {
    font-size: 1rem;
    padding: 0 20px;
  }

  /* STORY SECTIONS */
  .story-section {
    grid-template-columns: 1fr;
    padding: var(--section-padding-mobile);
    gap: 0;
    /* text-align: center; */
  }

  .story-section.reverse {
    direction: ltr;
  }

  .story-content h2 {
    font-size: clamp(3rem, 7vw, 3rem);
    width: 100%;
    padding: 0 0 1rem 0;
    /* text-align: center; */
  }

  .story-content p {
    text-align: start;
    font-size: small;
    padding: 1rem 0;
  }

  .story-image {
    height: var(--image-height-mobile);
  }
}