.story-page {
  background-color: var(--surface-light);
  color: var(--brand-espresso);
}


/* HERO */
.story-hero {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.story-img {
  object-fit: cover;
  filter: brightness(0.7);
}

.story-text {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--text-light);
  text-align: center;
}

.story-text h1 {
  font-family: var(--lavish);
  font-size: 6rem;
  letter-spacing: 0.15rem;
  text-shadow: 4px 4px 5px rgb(60, 59, 59);
}

.story-text p {
  font-size: 1.2rem;
  margin-top: 1rem;
  text-shadow: 4px 4px 5px rgb(60, 59, 59);
}





/* STORY SECTIONS */

.story-section {
  will-change: opacity, transform;
}


.story-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  padding: 120px 100px;
  align-items: center;
  opacity: 0;
  transform: translateY(60px);
  transition: all 0.5s ease;
}

.story-section.visible {
  opacity: 1;
  transform: translateY(0);
}

.story-section.reverse {
  direction: rtl;
  color: var(--brand-cream);
  background-color: var(--surface-dark);
}

.story-section.reverse .story-content {
  direction: ltr;
}

.story-image {
  position: relative;
  height: 420px;
  overflow: hidden;
  border-radius: var(--radius-md);
}

.story-image img {
  object-fit: cover;
  transform: scale(1.1);
  transition: transform 0.5s ease;
}

.story-section.visible .story-image img {
  transform: scale(1);
}



/* TEXT */
.story-content h2 {
  font-family: var(--lavish);
  font-size: 2.4rem;
  margin-bottom: 1rem;
  /* text-decoration: underline;
  text-underline-offset: 10px; */
}

.story-content p {
  font-size: 1.1rem;
  line-height: 1.8;
  max-width: 520px;
}














/* ========================= */
/* 📱 MOBILE RESPONSIVE */
/* ========================= */

@media (max-width: 768px) {

  /* HERO */
  .story-hero {
    height: 100vh;
  }

  .story-text h1 {
    font-size: 3rem;
    letter-spacing: 0.08rem;
  }

  .story-text p {
    font-size: 1rem;
    padding: 0 20px;
  }

  /* STORY SECTIONS */
  .story-section {
    grid-template-columns: 1fr; /* stack */
    padding: 60px 25px;
    gap: 2rem;
    text-align: center;
  }

  /* Remove reverse direction trick on mobile */
  .story-section.reverse {
    direction: ltr;
  }

  .story-content {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .story-content h2 {
    width: 100%;
    text-align: center;
    font-size: 1.8rem;
  }

  .story-content p {
    text-align: start;
    font-size: 1rem;
    max-width: 100%;
  }

  .story-image {
    height: 260px;
  }
}
