/* .main {
  background-color: rgb(170, 116, 116);
} */

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}



.hero {
  position: relative;
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.heading{
  position: absolute;
  top: 12%;
}

.info {
  position: absolute;
  bottom: 15%;
}

.title {
  font-size: 4rem;
  letter-spacing: 0.125rem;
  margin-bottom: 0.625rem;
}

.tagline {
  font-size: 1.2rem;
  margin-bottom: 1.25rem;
}

.hero-text {
  max-width: 37.5rem;
  font-size: 1.1rem;
  margin-bottom: 1.875rem;
}

.hero-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.btn {
  padding: 0.75rem 1.75rem;
  font-size: 1rem;
  border-radius: 1.875rem;
  cursor: pointer;
  border: none;
  transition: 0.3s ease;
}

.btn.primary {
  background: #3b2f2f;
  color: white;
}

.btn.secondary {
  background: transparent;
  border: 0.125rem solid #3b2f2f;
  color: #3b2f2f;
}

.btn:hover {
  transform: translateY(-0.125rem);
  opacity: 0.9;
}

/* ABOUT */
.about {
  position: relative;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  gap: 4rem;
  padding: 5rem 3rem;
  align-items: center;
  color: #fff; 
}

.about::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("../../public/images/doodle.png");
  background-repeat: repeat;
  background-size: 100%;
  opacity: 0.10;
  z-index: 0;
  pointer-events: none;
}

.about-text,
.about-visual {
  position: relative;
  z-index: 1;
}


.rotating-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  object-fit: cover;
  margin-left: 25%; 
  animation-name: spin ;
  animation-duration: 150s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.about h2 {
  font-size: 2.2rem;
  margin-bottom: 1rem;
}

.about-details{
  padding: 0.938rem;
  height: 100%;
}

/* MENU */
.menu-content {
  padding: 5rem 1.25rem;
  background: #f6f0e1;
}

.menu-content h2 {
  text-align: center;
  margin-bottom: 2.5rem;
}

.menu-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(13.75rem, 1fr));
  gap: 1.875rem;
  max-width: 62.5rem;
  margin: auto;
}

.menu-item {
  background: #fff;
  padding: 1.563rem;
  border-radius: 0.75rem;
  text-align: center;
  box-shadow: 0 0.625rem 1.25rem rgba(0, 0, 0, 0.05);
}

/* FEATURED */
.featured {
  padding: 5rem 1.25rem;
  text-align: center;
  background: #fff;
}
